@charset "UTF-8";
#header {
  position: relative;
  height: 110px;
  margin: 0 auto;
}
#global {
  position: relative;
  height: 40px;
  z-index: 700;
  font-size: 0.833em;
  background: #0b2e3b;
}
/* #global:before{
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
.global-wrap {
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.global-wrap ul {
  line-height: 40px;
}
.glob-left-gnb {
  float: left;
}
.glob-left-gnb li, .glob-right-gnb li {
  float: left;
  position: relative;
}
.glob-left-gnb li a, .glob-right-gnb li a {
  display: block;
}
.glob-left-gnb li span:hover, .glob-right-gnb li span:hover {
  text-decoration: underline;
}

.glob-left-gnb li a:after, .glob-right-gnb li a:after {
  position: absolute;
  display: inline-block;
  content: '';
  background: rgba(255,255,255,0.2);
  width: 1px;
  height: 13px;
  top: calc( 50% - 13px / 2);
  right: 0;
}

.glob-left-gnb li span, .glob-right-gnb li span {
  color: #fff;
  padding: 10px 15px 12px 15px;
  font-size: 15px;
  position: relative;
}

.glob-left-gnb li:first-child span {
  padding-left: 0;
}
.glob-left-gnb li:last-child a:after, .glob-right-gnb li:last-child a:after {
  background: none;
}
.glob-right-gnb {
  float: right;
}
.glob-right-gnb li:last-child span {
  padding-left: 39px;
  padding-right: 0;
}
.glob-right-gnb li:last-child span:before {
  content: '';
  position: absolute;
  background: url("../img/main/layout_spr.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 12px;
}

.header {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 40px;
  text-align: center;
  background: #fff;
}
.header.over {
}
.header .header-box {

}
.header .header-box {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #e3e3e3;
  z-index: 5000;
}
.header-menu-wrap {
  height: 100%;
}
.header-menu-wrap.over {
  height: 627px;
  background: #fff;
  position: relative;
}
.header-menu-wrap.over:before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #0b2e3b;
}
.header-wrap {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}
.btn-header-wrap {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.header-menu-wrap.over .btn-header-wrap:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 90px;
  background: #fff;
}
.menu-wrap {
  height: 100%;
  width: calc(100% - 145px);
  float: left;
}
.logo {
  display: block;
  position: absolute;
  width: 213px;
  top: 12px;
}
.logo img {
  position: absolute;
  left: 0;
  top: 10px;
}
.main-nav {
  width: 100%;
  height: 100%;
  /* padding-right: 145px; */
}
.main-gnb {
  padding-left: 310px;
  text-align: center;
}
.main-gnb .menu-list {
  float: left;
  margin: 0 25px;
}
.main-gnb .menu-list .menu_a1 {
  position: relative;
  display: block;
  font-size: 21px;
  font-weight: 700;
  color: #222;
  padding: 21px 0 23px;
  letter-spacing: -0.01em;
}

.main-gnb .menu-list .menu_a1:after {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 0;
  height: 5px;
  background: #055a23;
  transition: .3s;
}
.main-gnb .menu-list .menu_a1.over:after {
  left: 0;
  width: 100%;
  bottom: 5px;
}
.main-gnb .menu-list .menu_a1.over span {
  color: #055a23;
}

.main-gnb .menu-list .menu_a1[data-value] span:after {
  display: inline-block;
  content: '';
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin: -3px 0 0 9px;
  background-image: url("../img/main/layout_spr.png");
  background-repeat: no-repeat;
  background-position: -225px 0;
}

.menu-btn-wrap {
  display: inline-block;
  height: 100%;
  float: right;
  /* position: absolute; */
}

a.search {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  transition: .3s;
}
a.search:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  margin: auto;
  background: url("../img/main/layout_spr.png");
  background-repeat: no-repeat;
  background-position: -28px 0;
}

a.sitemap {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  background: #e5e5e5;
  transition: .3s;
}
a.sitemap:before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -13px;
  width: 27px;
  height: 15px;
  border-top: 3px solid #777;
  border-bottom: 3px solid #777;
  transition: .3s;
}
a.sitemap:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -13px;
  width: 19px;
  height: 3px;
  background: #777;
  transition: .3s;
}

a.search:hover {

}


.submenu_wrap {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 30px 0 75px 0;
  text-align: left;
  min-height: 200px;
}
.submenu-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
.submenu-title:before {
  display: block;
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  width: 378px;
  height: 70px;
  background: url("../img/main/tm_slogan.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.submenu-title a.submenu-btn {
  position: relative;
  font-size: 0.944em;
  font-weight: 500;
  display: inline-block;
  margin-right: 41px;
  padding-right: 31px;
  line-height: 70px;
  color: #fff;
}
.submenu-title a.submenu-btn:before {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  margin-top: -1px;
  width: 13px;
  height: 2px;
  background: rgba(255,255,255,.3);
  transition: .3s;
}
.submenu-title a.submenu-btn:after {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  margin-top: -4px;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid rgba(255,255,255,.3);
  border-right: 2px solid rgba(255,255,255,.3);
  transform: rotate(-45deg);
  transition: .3s;
}
.submenu-title a.submenu-btn:first-child{
  color: #28c658;
}
.submenu-title a.submenu-btn:first-child:before {
  background: #28c658;
}
.submenu-title a.submenu-btn:first-child:after {
  border-bottom-color: #28c658;
  border-right-color: #28c658;
}
.submenu-title .submenu-btn span {
  font-size: 1.2em;
}

.main-gnb li[seq="1"] .submenu_wrap .sub-submenu  {
  flex-wrap: wrap;
}
.sub-submenu {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}
.sub-submenu .sub-sublist {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 5px 0 30px;
  flex: 1;
  margin-bottom: 30px;
}
.main-gnb li[seq="1"] .sub-submenu .sub-sublist {
  align-content: stretch;
  flex-basis: 16.66%;
  max-width: 16.66%;
}
.sub-sublist:before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: #e3e3e3;
  left: 0;
  top: 0;
}
.menu_a2 {
  display: block;
  position: relative;
}
.menu_a2 span {
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #222;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1.2;
  transition: 0.3s;
}
.menu_a2 span:hover {
  color: #055a23;
}
.sub-sub-submenu_wrap {
  display: block;
  margin-top: 5px;
}
.sub-sub-submenu {
  display: block;
  position: relative;
  padding: 0;
}
.sub-sub-sublist {
  display: block;
  margin-bottom: 7px;
  line-height: 1;
}
.menu_a3 {
  position: relative;
  display: inline-block;
  padding: 2px 0;
}
.menu_a3 span {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #555;
  letter-spacing: -0.05em;
  line-height: 1.2;
  transition: 0.3s;
}

.menu_a3:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #055a23;
  opacity: 0;
  transition: .3s;
}
.menu_a3.over:after {
  opacity: 1;
}
.menu_a3.over span {
  color: #055a23;
}
