@charset "UTF-8";

/* header area */
#header.fixedHeader {
  position: fixed;
  width: 100%;
  height: 110px;
  padding-top: 40px;
  font-size: 14px;
  border-bottom: 1px solid #f1f1f1;
  z-index: 99;
  background: #fff;
}
#header.fixedHeader.slidedown {
  animation-name: slidedown;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
}
#header.fixedHeader .header-wrap {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
#header.fixedHeader .header-wrap #logo {
  flex: 1;
  padding: 19px 0;
}
#header.fixedHeader .header-wrap #logo h1 {
  height: 100%;
}
#header.fixedHeader .header-wrap #logo h1 a {
  display: inline-block;
  width: 136px;
  height: 100%;
  background: url("../img/logo-color.svg");
  background-repeat: no-repeat;
  background-size: 136px;
  background-position-y: center;
}

#header.fixedHeader .header-wrap #gnb {
  flex: 1;
  display: flex;
  font-weight: 500;
}
#header.fixedHeader .header-wrap #gnb ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#header.fixedHeader .header-wrap #gnb ul li {
  margin: 0 16px;
}
#header.fixedHeader .header-wrap #gnb ul li a {
  position: relative;
  padding: 25px 0;
  color: #000;
}
#header.fixedHeader .header-wrap #gnb ul li a:hover {
  font-weight: bold;
}
#header.fixedHeader .header-wrap #gnb ul li a:hover:before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #000;
  bottom: -2px;
  width: 100%;
}
#header.fixedHeader .header-wrap #gnb .language{
  position: relative;
  display: flex;
  padding-left: 74px;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

@keyframes slidedown {
  from {
    top: -110px;
  }
  to {
    top: 0px;
  }
};
