@charset "UTF-8";
/* header area */
#header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  height: 110px;
  font-size: 14px;
  z-index: 99;
  background: transparent;
  border-bottom: 1px solid #fff;
  transition: .3s;
}
#header .header-wrap {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
#header .header-wrap #logo {
  flex: 1;
  padding: 20px 0;
}
#header .header-wrap #logo h1 {
  height: 100%;
}
#header .header-wrap #logo h1 a {
  display: inline-block;
  width: 136px;
  height: 100%;
  background: url("../img/logo-white.svg");
  background-repeat: no-repeat;
  background-size: 136px;
  background-position-y: center;
}

#header .header-wrap #gnb {
  flex: 1;
  display: flex;
  font-weight: 500;
}
#header .header-wrap #gnb ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#header .header-wrap #gnb ul li {
  margin: 0 16px;
}
#header .header-wrap #gnb ul li a {
  position: relative;
  padding: 25px 0;
  color: #fff;
}
#header .header-wrap #gnb ul li a:hover {
  font-weight: bold;
}
#header .header-wrap #gnb ul li a:hover:before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  bottom: -2px;
  width: 100%;
}
#header .header-wrap #gnb .language{
  position: relative;
  display: flex;
  padding-left: 74px;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
#header .header-wrap #gnb .language > .select-language {
  position: absolute;
  top: 50%;
  right: auto;
  left: 50%;
  margin-left: -50px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #000;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  width: 150px;
  transform: translateY(15px);
  display: none;
}
#header .header-wrap #gnb .language .select-language li {
  display: flex;
  margin: 0 16px;
  line-height: 2em;
  text-align: center;
}
#header .header-wrap #gnb .language .select-language li a {
  position: relative;
  font-size: 14px;
  color: inherit;
  padding: 10px;
}

/* 첫번째 섹션 */
#main-section {
  position: relative;
}
#main-section .slide {
  /* display: flex; */
  height: 90vh;
}
#main-section .slide .title {
  position: absolute;
  bottom: 100px;
  left: 24px;
  width: 420px;
  z-index: 20;
}
#main-section .slide .title .txt{
  font-size: 40px;
  line-height: 54px;
  margin: 16px 0;
  font-weight: normal;
  color: #fff;
}

/* 두번째 섹션 */
#sub-scroll-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}
#sub-scroll-section > div {
  width: 50%;
  display: flex;
}
#sub-scroll-section .subscroll-bg {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
#sub-scroll-section .subscroll-bg div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#sub-scroll-section .subscroll-bg div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
#sub-scroll-section .subscroll-bg div:nth-child(1) img{
  opacity: 1;
}
#sub-scroll-section .subscroll-txt-wrap {
  position: relative;
  background: #2954cc;
  color: #fff;
  text-align: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
#sub-scroll-section .subscroll-txt-wrap .subscroll-txt {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 180px 120px;
}
#sub-scroll-section .subscroll-txt-wrap .subscroll-txt p {
  width: 480px;
  font-size: 24px;
  line-height: 42px;
  opacity: 0;
  transition: .3s;
}
#sub-scroll-section .subscroll-txt-wrap .subscroll-txt p.active {
  opacity: 1;
}

/* 세번째 섹션 */
#sub-scroll-introduce {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  margin-top: 80px;
}
#sub-scroll-introduce .fixed-txt {
  width: calc( 100% / 3 );
  padding-top: 80px;
  padding-bottom: 100px;
  position: sticky;
  top: 110px;
  opacity: 0;
  transform: translateY(-20px);
}
#sub-scroll-introduce .fixed-txt .title {
  font-size: 32px;
}
#sub-scroll-introduce .fixed-txt .title h1 {
  font-weight: normal;
  margin: 24px 0;
  line-height: 48px;
  letter-spacing: -0.3;
  color: #000;
}
#sub-scroll-introduce .fixed-txt .sub-title {
  font-size: 16px;
  line-height: 26px;
}
#sub-scroll-introduce .fixed-txt .sub-title p {
  margin: 16px 0;
}
#sub-scroll-introduce .subscroll-summary {
  width: calc( (100% / 3)*2 );
  padding-left: 50px;
  margin-top: 300px;
}
#sub-scroll-introduce .subscroll-summary .business-item {
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
}
#sub-scroll-introduce .subscroll-summary ul li {
  display: flex;
  min-height: 360px;
  margin-bottom: 50px;
  align-items: flex-start;
}
#sub-scroll-introduce .subscroll-summary ul li .business-intro {
  width: 45%;
  padding: 50px;
}
#sub-scroll-introduce .subscroll-summary ul li .business-intro h4 {
  margin: 16px 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}
#sub-scroll-introduce .subscroll-summary ul li .business-intro p {
  font-size: 16px;
  line-height: 26px;
}
#sub-scroll-introduce .subscroll-summary ul li .business-img {
  width: 55%;
}
#sub-scroll-introduce .subscroll-summary ul li .business-img:first-child {
  margin-right: -10px;
}
#sub-scroll-introduce .subscroll-summary ul li:nth-child(odd) {
  flex-direction: row-reverse;
}
#sub-scroll-introduce .subscroll-summary ul li .business-img img {
  width: 100%;
}

/* 네번째 섹션 */
#technology {
  margin-top: 190px;
  background: #2954cc;
  color: #fff;
  overflow: hidden;
  position: relative;
}
#technology .technology-container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
}
#technology .technology-container .video-area {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 0;
  margin-right: -150px;
  transform: scale( 1.5 );
}
#technology .technology-container .video-area video {
  width: 100%;
}
#technology .technology-container .text-area {
  flex: 1;
  padding: 140px 24px;
  z-index: 1;
}
#technology .technology-container .text-area .tech-title {
  position: relative;
  width: 600px;
}
#technology .technology-container .text-area .tech-title h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
}
#technology .technology-container .text-area .tech-sub {
  width: 600px;
  font-size: 16px;
  line-height: 26px;
}
#technology .technology-container .text-area .tech-sub p {
  margin: 16px 0;
}

/* 다섯번째 섹션 */
#culture {
  margin-top: 180px;
}
#culture h1 {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
}
#culture .gallery-slide-container {
  height: 430px;
  width: 100%;
  overflow-x: hidden;
}
#culture .swiper-slide.gallery-slide {
  margin-right: 20px;
  width: 300px;
  transition: width 1s cubic-bezier(0.9, 0.4, 0.21, 0.67);
}
#culture .swiper-slide.gallery-slide.swiper-slide-active {
  width: 600px;
}
#culture .culture-content {
  max-width: 1200px;
  padding: 50px 0 200px;
  margin: 0 auto;
  line-height: 26px;
}
#culture .culture-content div {
  width: 50%;
}
#culture .culture-content div p {
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0;
}

/* footer area */
#footer {
  background: #eaedf0;
}
#footer .copyright {
  display: flex;
  max-width: 1200px;
  padding: 100px 0 40px 0;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #454f5d;
}
#footer .copyright p:last-child {
  margin-top: 10px;
}
#footer .copyright .copyright-logo {
  text-align: right;
  padding-left: 60px;
}
